<div class='post'>
    <div class='post-image'> </div>
    <div class='post-text'>
        Xin chào các bạn !
    </div>
</div>

<mat-card class="post">
    <mat-card-header>
      <div mat-card-avatar class="user-image"></div>
      <mat-card-title class='user-name'>Shiba Inu</mat-card-title>
      <mat-card-subtitle class='user-subname'>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="like">Like</button>
      <button mat-button class="like">Share</button>
      <button mat-button class='setting'>Setting</button>
    </mat-card-actions>
  </mat-card>